html,
body {
  height: 100%;
  background-color: #f2f2f2;
  margin: 0;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

.cover-container {
  max-width: 42em;
}

.cover {
  width: 100%;
}

.shorturl-container {
  background: #fff;
}